STM32CubeMonitor/AC Current and Voltage Sensor.json
[{"id":"8381c865.236028","type":"subflow","name":"Single value","info":"The 'single value' subflow allows to :\r\n * Filter Data to extract only one variable after the \"processing node\" step .\r\n * Modify the message to fit with standard widgets such as gauges.\r\n * Limit the number of messages to a maximum of 10 msg per second.\r\n\r\n### **Input**\r\n\r\nThe subflow 'single value' takes in input the `msg.payload`\r\nfrom the processing output. All the messages sent by the processing node have the same structure.\r\n\r\n    \"payload\": {\r\n        \"groupname\": \"Snapshot2\",\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ],\r\n        \"variablename\": \"int2\"\r\n      }\r\n    }\r\n\r\n### **Filter on selected variable**\r\nSeveral messages are sent by the processing node for each variable, so the first step of this 'single value' subflow is to filter and keep only messages related to the selected variable.\r\nThe 'filter variable' node will only keep messages with the right `variablename` key.\r\n\r\n### **Extract duplets table**\r\n\r\nThe received message is an Object containing {groupname, variabledata[array], variablename}.  \r\nThe array contains two variables :\r\n - `y` the value \r\n - `x` the time\r\n\r\nA single message contains multiple pairs of values extract at a regular time interval.\r\nThe time interval depends on the acquisition frequency.\r\nWith the 'change' node and the `set` property, the `msg.payload` is set to \r\n`msg.payload.variabledata`, only the data variable array is set into msg.payload.\r\n\r\n    \"payload\": {\r\n        \"variabledata\": [\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            },\r\n            {\r\n                \"y\": \"9\",\r\n                \"x\": \"1567509421459\"\r\n            }\r\n        ]\r\n    }\r\n\r\n### **Split duplets table**\r\n\r\nThe data variable array is split with a length of one in smaller objects by the 'split' node.\r\nEach new object contains two subvariables : `y` and `x`.\r\n\r\n    \"payload\": {\r\n        \"y\": \"9\",\r\n        \"x\": \"1567509421459\"\r\n    }\r\n\r\n\r\n### **Limit the number of messages**\r\n\r\nThe 'delay' node allows to limit the maximum number of message per second.\r\nIn the 'single value' subflow, one message is extracted per second.\r\n\r\n>_Be careful, a dashboard saturation risk exists if too many messages are received per second._\r\n\r\n### **Extract only y values**\r\n\r\nThe `msg.payload` is set to `msg.payload.y` with the `set` property. \r\nOnly `y` variable is set into msg.payload as single value.\r\n\r\n    \"payload\": { \r\n        \"y\": \"9\" \r\n    }\r\n\r\n### **Output** \r\n\r\nSome widgets such as the gauge and the text node are using the `msg.payload` property.  \r\nThe output node is linked to a gauge that allows to see the evolution \r\nof the `y` variable as a function of time.\r\n\r\n\r\n![subflow_gauge](images/subflow_gauge.png)\r\n\r\n### **Details**\r\n\r\nNote : The debug node allows to see clearly and easily the \r\nmessage at the node output.  \r\n\r\n\r\n> More details on [Node-Red][nr]\r\n[nr]: https://nodered.org/docs/user-guide/editor/workspace/subflows\r\n\r\n\r\n-------\r\n\r\n","category":"","in":[{"x":40,"y":60,"wires":[{"id":"3c5ffe0d.9063b2"}]}],"out":[{"x":780,"y":140,"wires":[{"id":"66397fd3.d8111","port":0}]}],"env":[{"name":"varfilter","type":"str","value":""}],"color":"#DDAA99"},{"id":"3c5ffe0d.9063b2","type":"switch","z":"8381c865.236028","name":"filter variable","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"varfilter","vt":"env"}],"checkall":"true","repair":false,"outputs":1,"x":170,"y":60,"wires":[["4e5ba7a5.14dec8"]]},{"id":"4e5ba7a5.14dec8","type":"change","z":"8381c865.236028","name":"keep only table of duplets","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.variabledata","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[["42bc6ed.5b20d9"]]},{"id":"42bc6ed.5b20d9","type":"split","z":"8381c865.236028","name":"Split a table[1..n] of duplets in n msg of single duplet","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":800,"y":60,"wires":[["8b8ddb84.6fb208"]]},{"id":"8b8ddb84.6fb208","type":"delay","z":"8381c865.236028","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"10","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":200,"y":140,"wires":[["66397fd3.d8111"]]},{"id":"66397fd3.d8111","type":"change","z":"8381c865.236028","name":"keep only value and delete timestamp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.y","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":140,"wires":[[]]},{"id":"7f3c42d8.e581cc","type":"tab","label":"AC Current and Voltage Sensor","disabled":false,"info":"# Basic flow to start with STM32CubeMonitor."},{"id":"8f206a1b.139b98","type":"acquisition out","z":"7f3c42d8.e581cc","name":"myProbe_Out","probeconfig":"d9a6039e.00014","x":720,"y":80,"wires":[]},{"id":"53bfaf36.5c6fb","type":"acquisition out","z":"7f3c42d8.e581cc","name":"myProbe_Out2","probeconfig":"d9a6039e.00014","x":760,"y":420,"wires":[]},{"id":"cb024a2f.70c068","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":2,"width":5,"height":1,"passthru":false,"label":"CONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"start","x":210,"y":80,"wires":[["78d46773.030678"]]},{"id":"2721cb80.11a244","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":3,"width":5,"height":1,"passthru":false,"label":"DISCONNECT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"stop","x":220,"y":120,"wires":[["78d46773.030678"]]},{"id":"50881f7a.07484","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":4,"width":0,"height":0,"passthru":false,"label":"Unit","tooltip":"","color":"","bgcolor":"","icon":"","payload":"unit","payloadType":"str","topic":"","x":190,"y":180,"wires":[["97763207.18e08"]]},{"id":"a85fd7c0.441118","type":"ui_dropdown","z":"7f3c42d8.e581cc","name":"","label":"Unit","tooltip":"","place":"Select option","group":"783b8d8f.be9274","order":5,"width":7,"height":1,"passthru":true,"multiple":false,"options":[{"label":"Volt","value":"v","type":"str"},{"label":"Ampere","value":"a","type":"str"}],"payload":"","topic":"","x":190,"y":220,"wires":[["5b97b19d.4b782"]]},{"id":"a487fe6.354e4","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":6,"width":3,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":190,"y":340,"wires":[["7eea9aaf.f522e4"]]},{"id":"fbf115c.4210fe8","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"98ff68dd.178ff8","order":3,"width":3,"height":1,"passthru":false,"label":"STOP STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"","x":220,"y":460,"wires":[["7eea9aaf.f522e4"]]},{"id":"40ff3c8a.cfa254","type":"template","z":"7f3c42d8.e581cc","name":"time address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000000\",\n\n           \"type\": 5,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":390,"y":500,"wires":[["1383a86e.e9a038"]]},{"id":"fa48cd6a.17454","type":"ui_text_input","z":"7f3c42d8.e581cc","name":"","label":"Sampling Time","tooltip":"using with continuous run mode","group":"98ff68dd.178ff8","order":1,"width":4,"height":1,"passthru":true,"mode":"number","delay":"0","topic":"","x":220,"y":500,"wires":[["40ff3c8a.cfa254"]]},{"id":"65b943be.b8252c","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"c9c837a7.939fe8","order":1,"width":10,"height":1,"passthru":false,"label":"OK","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":190,"y":380,"wires":[["7eea9aaf.f522e4"]]},{"id":"969b4c13.3e7ef","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"98ff68dd.178ff8","order":2,"width":3,"height":1,"passthru":false,"label":"START STREAM","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":230,"y":420,"wires":[["7eea9aaf.f522e4"]]},{"id":"3a817b94.0b9994","type":"function","z":"7f3c42d8.e581cc","name":"","func":"m = msg.payload\no = m.charCodeAt(0);\n\nreturn {payload:o}","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["8e09112e.7fc01"]]},{"id":"c27e6edd.05a04","type":"split","z":"7f3c42d8.e581cc","name":"","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":true,"addname":"","x":510,"y":180,"wires":[["3a817b94.0b9994"]]},{"id":"eb2ee627.b7ef58","type":"template","z":"7f3c42d8.e581cc","name":"currentCharacter address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000005\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":970,"y":280,"wires":[["1383a86e.e9a038"]]},{"id":"7eea9aaf.f522e4","type":"template","z":"7f3c42d8.e581cc","name":"flag address","field":"payload","fieldType":"msg","format":"json","syntax":"mustache","template":"{\n    \n\n   \"variablelist\": [\n       {\n\n           \"address\": \"0x20000004\",\n\n           \"type\": 1,\n\n           \"value\": \"{{payload}}\"\n\n       }\n\n   ],\n\n   \"accesspoint\": 0\n\n}","output":"json","x":470,"y":420,"wires":[["1383a86e.e9a038"]]},{"id":"5b97b19d.4b782","type":"function","z":"7f3c42d8.e581cc","name":"","func":"var s=\"#3\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["c27e6edd.05a04"]]},{"id":"1383a86e.e9a038","type":"change","z":"7f3c42d8.e581cc","name":"msg 1","rules":[{"t":"set","p":"topic","pt":"msg","to":"write","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":380,"wires":[["53bfaf36.5c6fb"]]},{"id":"ca5da104.c8dc5","type":"acquisition in","z":"7f3c42d8.e581cc","name":"myProbe_In2","probeconfig":"d9a6039e.00014","x":210,"y":580,"wires":[["c37b1ac.c7707e8"],[]]},{"id":"c37b1ac.c7707e8","type":"processing","z":"7f3c42d8.e581cc","groupname":"AC Current and Voltage Sensor Read","groupid":"78d46773.030678","expressions":[],"statistics":[],"logmode":"no","x":450,"y":580,"wires":[["4cecab15.c0c464","ecfa3422.573ec8"],[]]},{"id":"4cecab15.c0c464","type":"subflow:8381c865.236028","z":"7f3c42d8.e581cc","name":"myFilter","env":[{"name":"varfilter","value":"DATA_To_SEND1","type":"str"}],"x":740,"y":580,"wires":[["d70d132f.d546c"]]},{"id":"d70d132f.d546c","type":"function","z":"7f3c42d8.e581cc","name":"","func":"let b=msg.payload;\nvar s=b.toFixed(2)\nvar out=s;\nmsg.payload=out;\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":580,"wires":[["140a9920.c2cf27"]]},{"id":"140a9920.c2cf27","type":"ui_text","z":"7f3c42d8.e581cc","group":"a58d4bea.3f1848","order":1,"width":0,"height":0,"name":"","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","x":1000,"y":580,"wires":[]},{"id":"dfcfd039.b0a74","type":"function","z":"7f3c42d8.e581cc","name":"","func":"if (msg.payload == \"sample\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"AC_Current_and_Voltage_Sensor_Stream\"],\"show\":[\"AC_Current_and_Voltage_Sensor_Sample\"]}};\n    return msg;\n}\n\nif (msg.payload == \"2\" ) {\n    msg.payload = {\"group\":{\"hide\":[\"AC_Current_and_Voltage_Sensor_Sample\"],\"show\":[\"AC_Current_and_Voltage_Sensor_Stream\"]}};\n    return msg;\n}\n\nreturn null;\n\n","outputs":1,"noerr":0,"x":390,"y":300,"wires":[["62007d54.28a2c4"]]},{"id":"62007d54.28a2c4","type":"ui_ui_control","z":"7f3c42d8.e581cc","name":"","events":"connect","x":520,"y":300,"wires":[[]]},{"id":"19fcf349.4c04bd","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":7,"width":5,"height":1,"passthru":false,"label":"Sample","tooltip":"","color":"","bgcolor":"","icon":"","payload":"sample","payloadType":"str","topic":"","x":200,"y":260,"wires":[["dfcfd039.b0a74","998d82ec.c5b35"]]},{"id":"79044406.78eb7c","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":8,"width":5,"height":1,"passthru":false,"label":"Stream (Optional)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":230,"y":300,"wires":[["dfcfd039.b0a74"]]},{"id":"d85f7371.77894","type":"ui_chartst","z":"7f3c42d8.e581cc","group":"a58d4bea.3f1848","name":"Distance","order":2,"width":12,"height":9,"chartType":"line","curveType":"linear","duration":"10","ymin":"","ymax":"","x":760,"y":620,"wires":[]},{"id":"2d13deed.ff5ac2","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"a58d4bea.3f1848","order":3,"width":0,"height":0,"passthru":false,"label":"CLEAR GRAPHS","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"clear","x":670,"y":660,"wires":[["d85f7371.77894"]]},{"id":"ecfa3422.573ec8","type":"switch","z":"7f3c42d8.e581cc","name":"DATA_To_SEND1","property":"payload.variablename","propertyType":"msg","rules":[{"t":"eq","v":"DATA_To_SEND1","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":620,"wires":[["d85f7371.77894"]]},{"id":"78d46773.030678","type":"variables","z":"7f3c42d8.e581cc","groupname":"AC Current and Voltage Sensor Read","accesspoint":0,"execonfig":"f3b41e7.2f4a9e","variablelist":[{"name":"DATA_To_SEND1","address":"0x20000008","type":"9"}],"triggerstartmode":"manual","triggername":"DATA_To_SEND1","triggerthreshold":"","frequency":"","frequencyType":"0","snapshotheader":"","mode":"direct","lastImportedTime":1640720854412,"openStatus":false,"x":470,"y":80,"wires":[["8f206a1b.139b98"]]},{"id":"97763207.18e08","type":"function","z":"7f3c42d8.e581cc","name":"","func":"var s=\"=342(\"+msg.payload+\" \";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":310,"y":180,"wires":[["c27e6edd.05a04"]]},{"id":"998d82ec.c5b35","type":"function","z":"7f3c42d8.e581cc","name":"","func":"var s=\"=432(\"+msg.payload+\"()\";\nlet y= function(str){\n    return [...str]\n}\nmsg.payload=y(s);\nreturn msg;\n","outputs":1,"noerr":0,"x":370,"y":260,"wires":[["c27e6edd.05a04"]]},{"id":"4b97608b.8e171","type":"ui_button","z":"7f3c42d8.e581cc","name":"","group":"783b8d8f.be9274","order":1,"width":10,"height":1,"passthru":false,"label":"START","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":200,"y":540,"wires":[["40ff3c8a.cfa254"]]},{"id":"8e09112e.7fc01","type":"change","z":"7f3c42d8.e581cc","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"40","fromt":"num","to":"13","tot":"num"},{"t":"change","p":"payload","pt":"msg","from":"41","fromt":"num","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":180,"wires":[["52bf9da5.a09144"]]},{"id":"52bf9da5.a09144","type":"delay","z":"7f3c42d8.e581cc","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"0.001","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":950,"y":180,"wires":[["eb2ee627.b7ef58"]]},{"id":"d9a6039e.00014","type":"probe","z":"","probeid":"066CFF495051717867163114","probename":"ST-Link v2-1B (...63114)","protocol":"SWD","frequency":"1.8 MHz - Default","probeproperty":"{\"SWD\":[\"4.6 MHz\",\"1.8 MHz - Default\",\"950 kHz\",\"400 kHz\",\"150 kHz\"],\"JTAG\":[\"18 MHz\",\"9 MHz\",\"4.5 MHz\",\"2.25 MHz\",\"1.12 MHz - Default\",\"560 kHz\",\"280 kHz\",\"140 kHz\"]}","probeversion":"ST Link firmware version V2.J37","connectionType":"p2p"},{"id":"783b8d8f.be9274","type":"ui_group","z":"","name":"AC Current and Voltage Sensor","tab":"e8e5f7df.db9028","order":2,"disp":true,"width":10,"collapse":false},{"id":"98ff68dd.178ff8","type":"ui_group","z":"","name":"Stream","tab":"e8e5f7df.db9028","order":4,"disp":true,"width":10,"collapse":false},{"id":"c9c837a7.939fe8","type":"ui_group","z":"","name":"Sample","tab":"e8e5f7df.db9028","order":3,"disp":true,"width":10,"collapse":false},{"id":"a58d4bea.3f1848","type":"ui_group","z":"","name":"AC Current and Voltage","tab":"e8e5f7df.db9028","order":1,"disp":true,"width":12,"collapse":false},{"id":"f3b41e7.2f4a9e","type":"exe-config","z":"","name":"AC","exefile":"C:\\Users\\ASIA STORE\\Desktop\\H2AR3x-Firmware-develop\\STM32CubeIDE\\H2AR3x\\H2AR3x.elf","exefolder":"C:\\Users\\ASIA STORE\\Desktop\\H2AR3x-Firmware-develop\\STM32CubeIDE\\H2AR3x","exevariablelist":[{"address":"0x200063b0","name":"_volt","type":9},{"address":"0x0801a2fc","name":"aAPBAHBPrescTable[0]","type":1},{"address":"0x20000ea4","name":"acceptedMsg","type":3},{"address":"0x200002b4","name":"ACK_FLAG","type":1},{"address":"0x08017eec","name":"actSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017ee0","name":"actSnipCommandDefinition.pcCommand","type":5},{"address":"0x08017ee4","name":"actSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08017ee8","name":"actSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000df0","name":"ADC_flag","type":1},{"address":"0x20000df4","name":"ADC_value_temp","type":3},{"address":"0x20000df2","name":"ADC_value_Vref","type":3},{"address":"0x20000df8","name":"ADCchannelvalue[0]","type":3},{"address":"0x20000e6c","name":"ADCPercentage","type":9},{"address":"0x20000e70","name":"ADCPort","type":3},{"address":"0x08017dec","name":"ADCReadCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017de0","name":"ADCReadCommandDefinition.pcCommand","type":5},{"address":"0x08017de4","name":"ADCReadCommandDefinition.pcHelpString","type":5},{"address":"0x08017de8","name":"ADCReadCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e72","name":"ADCSide","type":3},{"address":"0x20000e74","name":"ADCValue","type":9},{"address":"0x200002b5","name":"AddBcastPayload","type":1},{"address":"0x08017f68","name":"addbuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017f5c","name":"addbuttonCommandDefinition.pcCommand","type":5},{"address":"0x08017f60","name":"addbuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08017f64","name":"addbuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200063ac","name":"amp_buffer","type":9},{"address":"0x2000670c","name":"arrayPortsDir[0]","type":3},{"address":"0x20000cf0","name":"BackEndTaskHandle","type":5},{"address":"0x200004f8","name":"bcastID","type":1},{"address":"0x200004fc","name":"bcastRoutes[0]","type":3},{"address":"0x08017f9c","name":"bootloaderUpdateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017f90","name":"bootloaderUpdateCommandDefinition.pcCommand","type":5},{"address":"0x08017f94","name":"bootloaderUpdateCommandDefinition.pcHelpString","type":5},{"address":"0x08017f98","name":"bootloaderUpdateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200013c0","name":"bootStatus","type":1},{"address":"0x2000627c","name":"BOS.buttons.debounce","type":3},{"address":"0x20006281","name":"BOS.buttons.maxInterClickTime","type":1},{"address":"0x20006280","name":"BOS.buttons.minInterClickTime","type":1},{"address":"0x2000627e","name":"BOS.buttons.singleClickTime","type":3},{"address":"0x20006284","name":"BOS.clibaudrate","type":5},{"address":"0x20006291","name":"BOS.date.day","type":1},{"address":"0x20006292","name":"BOS.date.month","type":1},{"address":"0x20006290","name":"BOS.date.weekday","type":1},{"address":"0x20006294","name":"BOS.date.year","type":3},{"address":"0x20006288","name":"BOS.daylightsaving","type":1},{"address":"0x20006296","name":"BOS.disableCLI","type":1},{"address":"0x20006289","name":"BOS.hourformat","type":1},{"address":"0x2000628f","name":"BOS.time.ampm","type":1},{"address":"0x2000628e","name":"BOS.time.hours","type":1},{"address":"0x2000628d","name":"BOS.time.minutes","type":1},{"address":"0x2000628a","name":"BOS.time.msec","type":3},{"address":"0x2000628c","name":"BOS.time.seconds","type":1},{"address":"0x20000014","name":"BOS_default.buttons.debounce","type":3},{"address":"0x20000019","name":"BOS_default.buttons.maxInterClickTime","type":1},{"address":"0x20000018","name":"BOS_default.buttons.minInterClickTime","type":1},{"address":"0x20000016","name":"BOS_default.buttons.singleClickTime","type":3},{"address":"0x2000001c","name":"BOS_default.clibaudrate","type":5},{"address":"0x20000029","name":"BOS_default.date.day","type":1},{"address":"0x2000002a","name":"BOS_default.date.month","type":1},{"address":"0x20000028","name":"BOS_default.date.weekday","type":1},{"address":"0x2000002c","name":"BOS_default.date.year","type":3},{"address":"0x20000020","name":"BOS_default.daylightsaving","type":1},{"address":"0x2000002e","name":"BOS_default.disableCLI","type":1},{"address":"0x20000021","name":"BOS_default.hourformat","type":1},{"address":"0x20000027","name":"BOS_default.time.ampm","type":1},{"address":"0x20000026","name":"BOS_default.time.hours","type":1},{"address":"0x20000025","name":"BOS_default.time.minutes","type":1},{"address":"0x20000022","name":"BOS_default.time.msec","type":3},{"address":"0x20000024","name":"BOS_default.time.seconds","type":1},{"address":"0x200002b6","name":"BOS_initialized","type":1},{"address":"0x20006204","name":"BOS_var_reg[0]","type":5},{"address":"0x20006200","name":"BOSMessaging.Acknowledgment","type":1},{"address":"0x200061fe","name":"BOSMessaging.overrun","type":1},{"address":"0x200061ff","name":"BOSMessaging.received_Acknowledgment","type":1},{"address":"0x200061fc","name":"BOSMessaging.response","type":1},{"address":"0x200061fd","name":"BOSMessaging.trace","type":2},{"address":"0x20006202","name":"BOSMessaging.trial","type":4},{"address":"0x20000010","name":"BOSMessging_default.Acknowledgment","type":1},{"address":"0x2000000e","name":"BOSMessging_default.overrun","type":1},{"address":"0x2000000f","name":"BOSMessging_default.received_Acknowledgment","type":1},{"address":"0x2000000c","name":"BOSMessging_default.response","type":1},{"address":"0x2000000d","name":"BOSMessging_default.trace","type":2},{"address":"0x20000012","name":"BOSMessging_default.trial","type":4},{"address":"0x08017fe8","name":"bridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017fdc","name":"bridgeCommandDefinition.pcCommand","type":5},{"address":"0x08017fe0","name":"bridgeCommandDefinition.pcHelpString","type":5},{"address":"0x08017fe4","name":"bridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000530","name":"broadcastResponse[0]","type":1},{"address":"0x20000e0c","name":"button[0].events","type":1},{"address":"0x20000e06","name":"button[0].pressedX1Sec","type":1},{"address":"0x20000e07","name":"button[0].pressedX2Sec","type":1},{"address":"0x20000e08","name":"button[0].pressedX3Sec","type":1},{"address":"0x20000e09","name":"button[0].releasedY1Sec","type":1},{"address":"0x20000e0a","name":"button[0].releasedY2Sec","type":1},{"address":"0x20000e0b","name":"button[0].releasedY3Sec","type":1},{"address":"0x20000e04","name":"button[0].state","type":1},{"address":"0x20000e05","name":"button[0].type","type":1},{"address":"0x20000e00","name":"Channel","type":1},{"address":"0x200002b7","name":"CLI_LOW_Baudrate_Flag","type":1},{"address":"0x2000631e","name":"counter","type":1},{"address":"0x200013c4","name":"cOutputBuffer[0]","type":2},{"address":"0x20000c90","name":"crcBuffer[0]","type":1},{"address":"0x200005f4","name":"cRxedChar","type":2},{"address":"0x20000e2c","name":"current","type":9},{"address":"0x20000005","name":"currentCharacter","type":1},{"address":"0x20001064","name":"DATA_To_SEND","type":9},{"address":"0x20000008","name":"DATA_To_SEND1","type":9},{"address":"0x20000cec","name":"DataVar","type":3},{"address":"0x08018010","name":"dateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018004","name":"dateCommandDefinition.pcCommand","type":5},{"address":"0x08018008","name":"dateCommandDefinition.pcHelpString","type":5},{"address":"0x0801800c","name":"dateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e30","name":"dblCounter[0]","type":1},{"address":"0x080180a8","name":"defaultCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801809c","name":"defaultCommandDefinition.pcCommand","type":5},{"address":"0x080180a0","name":"defaultCommandDefinition.pcHelpString","type":5},{"address":"0x080180a4","name":"defaultCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000d18","name":"defaultTaskHandle","type":5},{"address":"0x20000e34","name":"delayButtonStateReset","type":1},{"address":"0x08018114","name":"delSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018108","name":"delSnipCommandDefinition.pcCommand","type":5},{"address":"0x0801810c","name":"delSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08018110","name":"delSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f5c","name":"demoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f50","name":"demoCommandDefinition.pcCommand","type":5},{"address":"0x08019f54","name":"demoCommandDefinition.pcHelpString","type":5},{"address":"0x08019f58","name":"demoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000633f","name":"desiredArray","type":1},{"address":"0x2000633e","name":"digitTheCommand","type":1},{"address":"0x20000cc8","name":"dmaStreamCount[0]","type":5},{"address":"0x20000cd4","name":"dmaStreamDst[0]","type":5},{"address":"0x20000ce0","name":"dmaStreamTotal[0]","type":5},{"address":"0x20000031","name":"dstGroupID","type":1},{"address":"0x08018124","name":"exploreCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018118","name":"exploreCommandDefinition.pcCommand","type":5},{"address":"0x0801811c","name":"exploreCommandDefinition.pcHelpString","type":5},{"address":"0x08018120","name":"exploreCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000d1c","name":"finalMatrix[0]","type":1},{"address":"0x20006340","name":"finalMatrixIndex","type":1},{"address":"0x20000004","name":"flag","type":1},{"address":"0x08018154","name":"flashsizeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018148","name":"flashsizeCommandDefinition.pcCommand","type":5},{"address":"0x0801814c","name":"flashsizeCommandDefinition.pcHelpString","type":5},{"address":"0x08018150","name":"flashsizeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018250","name":"getCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018244","name":"getCommandDefinition.pcCommand","type":5},{"address":"0x08018248","name":"getCommandDefinition.pcHelpString","type":5},{"address":"0x0801824c","name":"getCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08017dfc","name":"GetReadPercentageDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017df0","name":"GetReadPercentageDefinition.pcCommand","type":5},{"address":"0x08017df4","name":"GetReadPercentageDefinition.pcHelpString","type":5},{"address":"0x08017df8","name":"GetReadPercentageDefinition.pxCommandInterpreter","type":5},{"address":"0x20006424","name":"global_mode","type":1},{"address":"0x20006648","name":"global_module","type":1},{"address":"0x200065d0","name":"global_period","type":5},{"address":"0x20006425","name":"global_port","type":1},{"address":"0x2000664c","name":"global_timeout","type":5},{"address":"0x080183b0","name":"groupCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080183a4","name":"groupCommandDefinition.pcCommand","type":5},{"address":"0x080183a8","name":"groupCommandDefinition.pcHelpString","type":5},{"address":"0x080183ac","name":"groupCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000065c","name":"groupModules[0]","type":3},{"address":"0x20000098","name":"H2AR3_DATA_FORMAT","type":1},{"address":"0x2000655c","name":"H2AR3_Read_A","type":9},{"address":"0x20006558","name":"H2AR3_Read_V","type":9},{"address":"0x20006380","name":"hadc.DMA_Handle","type":5},{"address":"0x20006380","name":"hadc.DMA_Handle","type":5},{"address":"0x2000638c","name":"hadc.ErrorCode","type":5},{"address":"0x2000638c","name":"hadc.ErrorCode","type":5},{"address":"0x20006348","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006348","name":"hadc.Init.ClockPrescaler","type":5},{"address":"0x20006364","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006364","name":"hadc.Init.ContinuousConvMode","type":5},{"address":"0x20006350","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006350","name":"hadc.Init.DataAlign","type":5},{"address":"0x20006368","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006368","name":"hadc.Init.DiscontinuousConvMode","type":5},{"address":"0x20006374","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006374","name":"hadc.Init.DMAContinuousRequests","type":5},{"address":"0x20006358","name":"hadc.Init.EOCSelection","type":5},{"address":"0x20006358","name":"hadc.Init.EOCSelection","type":5},{"address":"0x2000636c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x2000636c","name":"hadc.Init.ExternalTrigConv","type":5},{"address":"0x20006370","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006370","name":"hadc.Init.ExternalTrigConvEdge","type":5},{"address":"0x20006360","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x20006360","name":"hadc.Init.LowPowerAutoPowerOff","type":5},{"address":"0x2000635c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x2000635c","name":"hadc.Init.LowPowerAutoWait","type":5},{"address":"0x20006378","name":"hadc.Init.Overrun","type":5},{"address":"0x20006378","name":"hadc.Init.Overrun","type":5},{"address":"0x2000634c","name":"hadc.Init.Resolution","type":5},{"address":"0x2000634c","name":"hadc.Init.Resolution","type":5},{"address":"0x2000637c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x2000637c","name":"hadc.Init.SamplingTimeCommon","type":5},{"address":"0x20006354","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006354","name":"hadc.Init.ScanConvMode","type":5},{"address":"0x20006344","name":"hadc.Instance","type":5},{"address":"0x20006344","name":"hadc.Instance","type":5},{"address":"0x20006384","name":"hadc.Lock","type":2},{"address":"0x20006384","name":"hadc.Lock","type":2},{"address":"0x20006388","name":"hadc.State","type":5},{"address":"0x20006388","name":"hadc.State","type":5},{"address":"0x2000665c","name":"hcrc.Init.CRCLength","type":5},{"address":"0x20006655","name":"hcrc.Init.DefaultInitValueUse","type":1},{"address":"0x20006654","name":"hcrc.Init.DefaultPolynomialUse","type":1},{"address":"0x20006658","name":"hcrc.Init.GeneratingPolynomial","type":5},{"address":"0x20006660","name":"hcrc.Init.InitValue","type":5},{"address":"0x20006664","name":"hcrc.Init.InputDataInversionMode","type":5},{"address":"0x20006668","name":"hcrc.Init.OutputDataInversionMode","type":5},{"address":"0x20006670","name":"hcrc.InputDataFormat","type":5},{"address":"0x20006650","name":"hcrc.Instance","type":5},{"address":"0x2000666c","name":"hcrc.Lock","type":2},{"address":"0x2000666d","name":"hcrc.State","type":2},{"address":"0x200066e8","name":"htim14.Channel","type":2},{"address":"0x200066ec","name":"htim14.hdma[0]","type":5},{"address":"0x200066e0","name":"htim14.Init.ClockDivision","type":5},{"address":"0x200066d8","name":"htim14.Init.CounterMode","type":5},{"address":"0x200066dc","name":"htim14.Init.Period","type":5},{"address":"0x200066d4","name":"htim14.Init.Prescaler","type":5},{"address":"0x200066e4","name":"htim14.Init.RepetitionCounter","type":5},{"address":"0x200066d0","name":"htim14.Instance","type":5},{"address":"0x20006708","name":"htim14.Lock","type":2},{"address":"0x20006709","name":"htim14.State","type":2},{"address":"0x200066ac","name":"htim15.Channel","type":2},{"address":"0x200066b0","name":"htim15.hdma[0]","type":5},{"address":"0x200066a4","name":"htim15.Init.ClockDivision","type":5},{"address":"0x2000669c","name":"htim15.Init.CounterMode","type":5},{"address":"0x200066a0","name":"htim15.Init.Period","type":5},{"address":"0x20006698","name":"htim15.Init.Prescaler","type":5},{"address":"0x200066a8","name":"htim15.Init.RepetitionCounter","type":5},{"address":"0x20006694","name":"htim15.Instance","type":5},{"address":"0x200066cc","name":"htim15.Lock","type":2},{"address":"0x200066cd","name":"htim15.State","type":2},{"address":"0x20006440","name":"htim3.Channel","type":2},{"address":"0x20006444","name":"htim3.hdma[0]","type":5},{"address":"0x20006438","name":"htim3.Init.ClockDivision","type":5},{"address":"0x20006430","name":"htim3.Init.CounterMode","type":5},{"address":"0x20006434","name":"htim3.Init.Period","type":5},{"address":"0x2000642c","name":"htim3.Init.Prescaler","type":5},{"address":"0x2000643c","name":"htim3.Init.RepetitionCounter","type":5},{"address":"0x20006428","name":"htim3.Instance","type":5},{"address":"0x20006460","name":"htim3.Lock","type":2},{"address":"0x20006461","name":"htim3.State","type":2},{"address":"0x20006488","name":"huart1.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200064a4","name":"huart1.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200064a8","name":"huart1.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006494","name":"huart1.AdvancedInit.DataInvert","type":5},{"address":"0x200064a0","name":"huart1.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200064ac","name":"huart1.AdvancedInit.MSBFirst","type":5},{"address":"0x2000649c","name":"huart1.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006490","name":"huart1.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006498","name":"huart1.AdvancedInit.Swap","type":5},{"address":"0x2000648c","name":"huart1.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200064d0","name":"huart1.ErrorCode","type":5},{"address":"0x200064c8","name":"huart1.hdmarx","type":5},{"address":"0x200064c4","name":"huart1.hdmatx","type":5},{"address":"0x20006468","name":"huart1.Init.BaudRate","type":5},{"address":"0x2000647c","name":"huart1.Init.HwFlowCtl","type":5},{"address":"0x20006478","name":"huart1.Init.Mode","type":5},{"address":"0x20006484","name":"huart1.Init.OneBitSampling","type":5},{"address":"0x20006480","name":"huart1.Init.OverSampling","type":5},{"address":"0x20006474","name":"huart1.Init.Parity","type":5},{"address":"0x20006470","name":"huart1.Init.StopBits","type":5},{"address":"0x2000646c","name":"huart1.Init.WordLength","type":5},{"address":"0x20006464","name":"huart1.Instance","type":5},{"address":"0x200064cc","name":"huart1.Lock","type":2},{"address":"0x200064c0","name":"huart1.Mask","type":3},{"address":"0x200064b8","name":"huart1.pRxBuffPtr","type":5},{"address":"0x200064b0","name":"huart1.pTxBuffPtr","type":5},{"address":"0x200064be","name":"huart1.RxXferCount","type":3},{"address":"0x200064bc","name":"huart1.RxXferSize","type":3},{"address":"0x200064cd","name":"huart1.State","type":2},{"address":"0x200064b6","name":"huart1.TxXferCount","type":3},{"address":"0x200064b4","name":"huart1.TxXferSize","type":3},{"address":"0x200065f8","name":"huart2.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006614","name":"huart2.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x20006618","name":"huart2.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006604","name":"huart2.AdvancedInit.DataInvert","type":5},{"address":"0x20006610","name":"huart2.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x2000661c","name":"huart2.AdvancedInit.MSBFirst","type":5},{"address":"0x2000660c","name":"huart2.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006600","name":"huart2.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006608","name":"huart2.AdvancedInit.Swap","type":5},{"address":"0x200065fc","name":"huart2.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006640","name":"huart2.ErrorCode","type":5},{"address":"0x20006638","name":"huart2.hdmarx","type":5},{"address":"0x20006634","name":"huart2.hdmatx","type":5},{"address":"0x200065d8","name":"huart2.Init.BaudRate","type":5},{"address":"0x200065ec","name":"huart2.Init.HwFlowCtl","type":5},{"address":"0x200065e8","name":"huart2.Init.Mode","type":5},{"address":"0x200065f4","name":"huart2.Init.OneBitSampling","type":5},{"address":"0x200065f0","name":"huart2.Init.OverSampling","type":5},{"address":"0x200065e4","name":"huart2.Init.Parity","type":5},{"address":"0x200065e0","name":"huart2.Init.StopBits","type":5},{"address":"0x200065dc","name":"huart2.Init.WordLength","type":5},{"address":"0x200065d4","name":"huart2.Instance","type":5},{"address":"0x2000663c","name":"huart2.Lock","type":2},{"address":"0x20006630","name":"huart2.Mask","type":3},{"address":"0x20006628","name":"huart2.pRxBuffPtr","type":5},{"address":"0x20006620","name":"huart2.pTxBuffPtr","type":5},{"address":"0x2000662e","name":"huart2.RxXferCount","type":3},{"address":"0x2000662c","name":"huart2.RxXferSize","type":3},{"address":"0x2000663d","name":"huart2.State","type":2},{"address":"0x20006626","name":"huart2.TxXferCount","type":3},{"address":"0x20006624","name":"huart2.TxXferSize","type":3},{"address":"0x200063d8","name":"huart3.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200063f4","name":"huart3.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200063f8","name":"huart3.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x200063e4","name":"huart3.AdvancedInit.DataInvert","type":5},{"address":"0x200063f0","name":"huart3.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200063fc","name":"huart3.AdvancedInit.MSBFirst","type":5},{"address":"0x200063ec","name":"huart3.AdvancedInit.OverrunDisable","type":5},{"address":"0x200063e0","name":"huart3.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x200063e8","name":"huart3.AdvancedInit.Swap","type":5},{"address":"0x200063dc","name":"huart3.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006420","name":"huart3.ErrorCode","type":5},{"address":"0x20006418","name":"huart3.hdmarx","type":5},{"address":"0x20006414","name":"huart3.hdmatx","type":5},{"address":"0x200063b8","name":"huart3.Init.BaudRate","type":5},{"address":"0x200063cc","name":"huart3.Init.HwFlowCtl","type":5},{"address":"0x200063c8","name":"huart3.Init.Mode","type":5},{"address":"0x200063d4","name":"huart3.Init.OneBitSampling","type":5},{"address":"0x200063d0","name":"huart3.Init.OverSampling","type":5},{"address":"0x200063c4","name":"huart3.Init.Parity","type":5},{"address":"0x200063c0","name":"huart3.Init.StopBits","type":5},{"address":"0x200063bc","name":"huart3.Init.WordLength","type":5},{"address":"0x200063b4","name":"huart3.Instance","type":5},{"address":"0x2000641c","name":"huart3.Lock","type":2},{"address":"0x20006410","name":"huart3.Mask","type":3},{"address":"0x20006408","name":"huart3.pRxBuffPtr","type":5},{"address":"0x20006400","name":"huart3.pTxBuffPtr","type":5},{"address":"0x2000640e","name":"huart3.RxXferCount","type":3},{"address":"0x2000640c","name":"huart3.RxXferSize","type":3},{"address":"0x2000641d","name":"huart3.State","type":2},{"address":"0x20006406","name":"huart3.TxXferCount","type":3},{"address":"0x20006404","name":"huart3.TxXferSize","type":3},{"address":"0x20006584","name":"huart4.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x200065a0","name":"huart4.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x200065a4","name":"huart4.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006590","name":"huart4.AdvancedInit.DataInvert","type":5},{"address":"0x2000659c","name":"huart4.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x200065a8","name":"huart4.AdvancedInit.MSBFirst","type":5},{"address":"0x20006598","name":"huart4.AdvancedInit.OverrunDisable","type":5},{"address":"0x2000658c","name":"huart4.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x20006594","name":"huart4.AdvancedInit.Swap","type":5},{"address":"0x20006588","name":"huart4.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x200065cc","name":"huart4.ErrorCode","type":5},{"address":"0x200065c4","name":"huart4.hdmarx","type":5},{"address":"0x200065c0","name":"huart4.hdmatx","type":5},{"address":"0x20006564","name":"huart4.Init.BaudRate","type":5},{"address":"0x20006578","name":"huart4.Init.HwFlowCtl","type":5},{"address":"0x20006574","name":"huart4.Init.Mode","type":5},{"address":"0x20006580","name":"huart4.Init.OneBitSampling","type":5},{"address":"0x2000657c","name":"huart4.Init.OverSampling","type":5},{"address":"0x20006570","name":"huart4.Init.Parity","type":5},{"address":"0x2000656c","name":"huart4.Init.StopBits","type":5},{"address":"0x20006568","name":"huart4.Init.WordLength","type":5},{"address":"0x20006560","name":"huart4.Instance","type":5},{"address":"0x200065c8","name":"huart4.Lock","type":2},{"address":"0x200065bc","name":"huart4.Mask","type":3},{"address":"0x200065b4","name":"huart4.pRxBuffPtr","type":5},{"address":"0x200065ac","name":"huart4.pTxBuffPtr","type":5},{"address":"0x200065ba","name":"huart4.RxXferCount","type":3},{"address":"0x200065b8","name":"huart4.RxXferSize","type":3},{"address":"0x200065c9","name":"huart4.State","type":2},{"address":"0x200065b2","name":"huart4.TxXferCount","type":3},{"address":"0x200065b0","name":"huart4.TxXferSize","type":3},{"address":"0x2000650c","name":"huart6.AdvancedInit.AdvFeatureInit","type":5},{"address":"0x20006528","name":"huart6.AdvancedInit.AutoBaudRateEnable","type":5},{"address":"0x2000652c","name":"huart6.AdvancedInit.AutoBaudRateMode","type":5},{"address":"0x20006518","name":"huart6.AdvancedInit.DataInvert","type":5},{"address":"0x20006524","name":"huart6.AdvancedInit.DMADisableonRxError","type":5},{"address":"0x20006530","name":"huart6.AdvancedInit.MSBFirst","type":5},{"address":"0x20006520","name":"huart6.AdvancedInit.OverrunDisable","type":5},{"address":"0x20006514","name":"huart6.AdvancedInit.RxPinLevelInvert","type":5},{"address":"0x2000651c","name":"huart6.AdvancedInit.Swap","type":5},{"address":"0x20006510","name":"huart6.AdvancedInit.TxPinLevelInvert","type":5},{"address":"0x20006554","name":"huart6.ErrorCode","type":5},{"address":"0x2000654c","name":"huart6.hdmarx","type":5},{"address":"0x20006548","name":"huart6.hdmatx","type":5},{"address":"0x200064ec","name":"huart6.Init.BaudRate","type":5},{"address":"0x20006500","name":"huart6.Init.HwFlowCtl","type":5},{"address":"0x200064fc","name":"huart6.Init.Mode","type":5},{"address":"0x20006508","name":"huart6.Init.OneBitSampling","type":5},{"address":"0x20006504","name":"huart6.Init.OverSampling","type":5},{"address":"0x200064f8","name":"huart6.Init.Parity","type":5},{"address":"0x200064f4","name":"huart6.Init.StopBits","type":5},{"address":"0x200064f0","name":"huart6.Init.WordLength","type":5},{"address":"0x200064e8","name":"huart6.Instance","type":5},{"address":"0x20006550","name":"huart6.Lock","type":2},{"address":"0x20006544","name":"huart6.Mask","type":3},{"address":"0x2000653c","name":"huart6.pRxBuffPtr","type":5},{"address":"0x20006534","name":"huart6.pTxBuffPtr","type":5},{"address":"0x20006542","name":"huart6.RxXferCount","type":3},{"address":"0x20006540","name":"huart6.RxXferSize","type":3},{"address":"0x20006551","name":"huart6.State","type":2},{"address":"0x2000653a","name":"huart6.TxXferCount","type":3},{"address":"0x20006538","name":"huart6.TxXferSize","type":3},{"address":"0x08018430","name":"idcodeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018424","name":"idcodeCommandDefinition.pcCommand","type":5},{"address":"0x08018428","name":"idcodeCommandDefinition.pcHelpString","type":5},{"address":"0x0801842c","name":"idcodeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000690","name":"indMode","type":1},{"address":"0x080184b4","name":"infoCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080184a8","name":"infoCommandDefinition.pcCommand","type":5},{"address":"0x080184ac","name":"infoCommandDefinition.pcHelpString","type":5},{"address":"0x080184b0","name":"infoCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e78","name":"InternalTemperature","type":9},{"address":"0x20000e7c","name":"InternalVoltageReferance","type":9},{"address":"0x20000691","name":"longMessage","type":1},{"address":"0x20000692","name":"longMessageLastPtr","type":3},{"address":"0x20000edc","name":"longMessageScratchpad[0]","type":1},{"address":"0x20000e80","name":"MBmessageParams[0]","type":5},{"address":"0x200064d4","name":"measured_amp","type":9},{"address":"0x20006644","name":"measured_volt","type":9},{"address":"0x20000694","name":"message[0]","type":2},{"address":"0x200006cc","name":"messageLength[0]","type":1},{"address":"0x200006d0","name":"messageParams[0]","type":1},{"address":"0x200000a0","name":"modParam[0].paramFormat","type":2},{"address":"0x200000a4","name":"modParam[0].paramName","type":5},{"address":"0x2000009c","name":"modParam[0].paramPtr","type":5},{"address":"0x200062fd","name":"Monitor_index","type":1},{"address":"0x20000000","name":"Monitor_time","type":5},{"address":"0x20000034","name":"monthStringAbreviated[0]","type":5},{"address":"0x20000a48","name":"MsgDMAStopped[0]","type":1},{"address":"0x200010ac","name":"msgRxDMA[0].ErrorCode","type":5},{"address":"0x2000107c","name":"msgRxDMA[0].Init.Direction","type":5},{"address":"0x2000108c","name":"msgRxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x20001084","name":"msgRxDMA[0].Init.MemInc","type":5},{"address":"0x20001090","name":"msgRxDMA[0].Init.Mode","type":5},{"address":"0x20001088","name":"msgRxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001080","name":"msgRxDMA[0].Init.PeriphInc","type":5},{"address":"0x20001094","name":"msgRxDMA[0].Init.Priority","type":5},{"address":"0x20001078","name":"msgRxDMA[0].Instance","type":5},{"address":"0x20001098","name":"msgRxDMA[0].Lock","type":2},{"address":"0x2000109c","name":"msgRxDMA[0].Parent","type":5},{"address":"0x20001099","name":"msgRxDMA[0].State","type":2},{"address":"0x200010a0","name":"msgRxDMA[0].XferCpltCallback","type":5},{"address":"0x200010a8","name":"msgRxDMA[0].XferErrorCallback","type":5},{"address":"0x200010a4","name":"msgRxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x200011fc","name":"msgTxDMA[0].ErrorCode","type":5},{"address":"0x200011cc","name":"msgTxDMA[0].Init.Direction","type":5},{"address":"0x200011dc","name":"msgTxDMA[0].Init.MemDataAlignment","type":5},{"address":"0x200011d4","name":"msgTxDMA[0].Init.MemInc","type":5},{"address":"0x200011e0","name":"msgTxDMA[0].Init.Mode","type":5},{"address":"0x200011d8","name":"msgTxDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x200011d0","name":"msgTxDMA[0].Init.PeriphInc","type":5},{"address":"0x200011e4","name":"msgTxDMA[0].Init.Priority","type":5},{"address":"0x200011c8","name":"msgTxDMA[0].Instance","type":5},{"address":"0x200011e8","name":"msgTxDMA[0].Lock","type":2},{"address":"0x200011ec","name":"msgTxDMA[0].Parent","type":5},{"address":"0x200011e9","name":"msgTxDMA[0].State","type":2},{"address":"0x200011f0","name":"msgTxDMA[0].XferCpltCallback","type":5},{"address":"0x200011f8","name":"msgTxDMA[0].XferErrorCallback","type":5},{"address":"0x200011f4","name":"msgTxDMA[0].XferHalfCpltCallback","type":5},{"address":"0x2000080e","name":"myID","type":1},{"address":"0x20000064","name":"myPN","type":3},{"address":"0x20000030","name":"N","type":1},{"address":"0x080184f0","name":"nameCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080184e4","name":"nameCommandDefinition.pcCommand","type":5},{"address":"0x080184e8","name":"nameCommandDefinition.pcHelpString","type":5},{"address":"0x080184ec","name":"nameCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e35","name":"needToDelayButtonStateReset","type":1},{"address":"0x20000d5c","name":"nonProcessingParameter[0]","type":1},{"address":"0x2000631d","name":"nonProcessingParameterIndex","type":1},{"address":"0x2000633c","name":"numCommandParameters","type":1},{"address":"0x200061f8","name":"numOfBosCommands","type":1},{"address":"0x2000099f","name":"numOfRecordedSnippets","type":1},{"address":"0x20000cf4","name":"P1MsgTaskHandle","type":5},{"address":"0x20000cf8","name":"P2MsgTaskHandle","type":5},{"address":"0x20000cfc","name":"P3MsgTaskHandle","type":5},{"address":"0x20000ffc","name":"packetEnd","type":6},{"address":"0x20001000","name":"packetLength","type":6},{"address":"0x20001004","name":"packetStart","type":6},{"address":"0x20001008","name":"parseStart","type":6},{"address":"0x08018538","name":"pauseSnipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801852c","name":"pauseSnipCommandDefinition.pcCommand","type":5},{"address":"0x08018530","name":"pauseSnipCommandDefinition.pcHelpString","type":5},{"address":"0x08018534","name":"pauseSnipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000088","name":"pcBootloaderUpdateMessage","type":5},{"address":"0x00000000","name":"pcEndOfCommandOutputString","type":5},{"address":"0x00000000","name":"pcNewLine","type":5},{"address":"0x20000068","name":"pcParamsHelpString[0]","type":5},{"address":"0x200002b8","name":"PcPort","type":1},{"address":"0x2000008c","name":"pcRemoteBootloaderUpdateMessage","type":5},{"address":"0x20000090","name":"pcRemoteBootloaderUpdateViaPortMessage","type":5},{"address":"0x20000094","name":"pcRemoteBootloaderUpdateWarningMessage","type":5},{"address":"0x20000828","name":"pcUserMessage[0]","type":2},{"address":"0x20000828","name":"pcUserMessage[0]","type":2},{"address":"0x00000000","name":"pcWelcomeMessage","type":5},{"address":"0x200009a0","name":"pcWelcomePortMessage[0]","type":2},{"address":"0x20000e38","name":"percentage","type":9},{"address":"0x200062fc","name":"perviousCharacter","type":1},{"address":"0x20006788","name":"pFlash.Address","type":5},{"address":"0x20006784","name":"pFlash.DataRemaining","type":5},{"address":"0x2000679c","name":"pFlash.ErrorCode","type":5},{"address":"0x20006798","name":"pFlash.Lock","type":2},{"address":"0x20006780","name":"pFlash.ProcedureOnGoing","type":2},{"address":"0x08018578","name":"pingCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801856c","name":"pingCommandDefinition.pcCommand","type":5},{"address":"0x08018570","name":"pingCommandDefinition.pcHelpString","type":5},{"address":"0x08018574","name":"pingCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000878","name":"portStatus[0]","type":1},{"address":"0x20000e3c","name":"pressCounter[0]","type":5},{"address":"0x20000d00","name":"ProcessingParameter[0]","type":1},{"address":"0x2000631c","name":"processingParameterIndex","type":1},{"address":"0x080185cc","name":"prvRunTimeStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x080185c0","name":"prvRunTimeStatsCommandDefinition.pcCommand","type":5},{"address":"0x080185c4","name":"prvRunTimeStatsCommandDefinition.pcHelpString","type":5},{"address":"0x080185c8","name":"prvRunTimeStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801862c","name":"prvTaskStatsCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018620","name":"prvTaskStatsCommandDefinition.pcCommand","type":5},{"address":"0x08018624","name":"prvTaskStatsCommandDefinition.pcHelpString","type":5},{"address":"0x08018628","name":"prvTaskStatsCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200064e0","name":"ptr_read_buffer","type":5},{"address":"0x20001638","name":"pxCurrentTCB","type":5},{"address":"0x20001760","name":"pxCurrentTimerList","type":5},{"address":"0x2000163c","name":"pxDelayedTaskList","type":5},{"address":"0x20001798","name":"pxEnd","type":5},{"address":"0x20001640","name":"pxOverflowDelayedTaskList","type":5},{"address":"0x20001764","name":"pxOverflowTimerList","type":5},{"address":"0x20001648","name":"pxReadyTasksLists[0].pxIndex","type":5},{"address":"0x20001644","name":"pxReadyTasksLists[0].uxNumberOfItems","type":5},{"address":"0x20001650","name":"pxReadyTasksLists[0].xListEnd.pxNext","type":5},{"address":"0x20001654","name":"pxReadyTasksLists[0].xListEnd.pxPrevious","type":5},{"address":"0x2000164c","name":"pxReadyTasksLists[0].xListEnd.xItemValue","type":5},{"address":"0x20006320","name":"PxRxSemaphoreHandle[0]","type":5},{"address":"0x20006300","name":"PxTxSemaphoreHandle[0]","type":5},{"address":"0x20000e01","name":"Rank_t","type":1},{"address":"0x200064e4","name":"raw_adc","type":5},{"address":"0x08017e6c","name":"ReadTempDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017e60","name":"ReadTempDefinition.pcCommand","type":5},{"address":"0x08017e64","name":"ReadTempDefinition.pcHelpString","type":5},{"address":"0x08017e68","name":"ReadTempDefinition.pxCommandInterpreter","type":5},{"address":"0x08017ea4","name":"ReadVrefDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08017e98","name":"ReadVrefDefinition.pcCommand","type":5},{"address":"0x08017e9c","name":"ReadVrefDefinition.pcHelpString","type":5},{"address":"0x08017ea0","name":"ReadVrefDefinition.pxCommandInterpreter","type":5},{"address":"0x20000884","name":"rejected_FLAG","type":1},{"address":"0x2000105c","name":"rejectedMsg","type":3},{"address":"0x20000e4c","name":"releaseCounter[0]","type":5},{"address":"0x20000084","name":"remoteVarFormat","type":2},{"address":"0x08018664","name":"removebuttonCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018658","name":"removebuttonCommandDefinition.pcCommand","type":5},{"address":"0x0801865c","name":"removebuttonCommandDefinition.pcHelpString","type":5},{"address":"0x08018660","name":"removebuttonCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018674","name":"resetCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018668","name":"resetCommandDefinition.pcCommand","type":5},{"address":"0x0801866c","name":"resetCommandDefinition.pcHelpString","type":5},{"address":"0x08018670","name":"resetCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000890","name":"responseStatus","type":2},{"address":"0x20006390","name":"route[0]","type":1},{"address":"0x20000894","name":"routeDist[0]","type":1},{"address":"0x200008b0","name":"routePrev[0]","type":1},{"address":"0x2000667c","name":"RtcHandle.Init.AsynchPrediv","type":5},{"address":"0x20006678","name":"RtcHandle.Init.HourFormat","type":5},{"address":"0x20006684","name":"RtcHandle.Init.OutPut","type":5},{"address":"0x20006688","name":"RtcHandle.Init.OutPutPolarity","type":5},{"address":"0x2000668c","name":"RtcHandle.Init.OutPutType","type":5},{"address":"0x20006680","name":"RtcHandle.Init.SynchPrediv","type":5},{"address":"0x20006674","name":"RtcHandle.Instance","type":5},{"address":"0x20006690","name":"RtcHandle.Lock","type":2},{"address":"0x20006691","name":"RtcHandle.State","type":2},{"address":"0x08019f6c","name":"sampleCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f60","name":"sampleCommandDefinition.pcCommand","type":5},{"address":"0x08019f64","name":"sampleCommandDefinition.pcHelpString","type":5},{"address":"0x08019f68","name":"sampleCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018730","name":"scastCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018724","name":"scastCommandDefinition.pcCommand","type":5},{"address":"0x08018728","name":"scastCommandDefinition.pcHelpString","type":5},{"address":"0x0801872c","name":"scastCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000e5c","name":"sConfig.Channel","type":5},{"address":"0x20000e60","name":"sConfig.Rank","type":5},{"address":"0x20000e64","name":"sConfig.SamplingTime","type":5},{"address":"0x0801877c","name":"setBaudrateCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018770","name":"setBaudrateCommandDefinition.pcCommand","type":5},{"address":"0x08018774","name":"setBaudrateCommandDefinition.pcHelpString","type":5},{"address":"0x08018778","name":"setBaudrateCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018984","name":"setCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018978","name":"setCommandDefinition.pcCommand","type":5},{"address":"0x0801897c","name":"setCommandDefinition.pcHelpString","type":5},{"address":"0x08018980","name":"setCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08018b14","name":"snipCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018b08","name":"snipCommandDefinition.pcCommand","type":5},{"address":"0x08018b0c","name":"snipCommandDefinition.pcHelpString","type":5},{"address":"0x08018b10","name":"snipCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200062a4","name":"snippets[0].cmd","type":5},{"address":"0x2000629a","name":"snippets[0].cond.buffer1[0]","type":1},{"address":"0x2000629e","name":"snippets[0].cond.buffer2[0]","type":1},{"address":"0x20006298","name":"snippets[0].cond.conditionType","type":1},{"address":"0x20006299","name":"snippets[0].cond.mathOperator","type":1},{"address":"0x200062a8","name":"snippets[0].state","type":1},{"address":"0x2000106c","name":"startMeasurementRanging","type":1},{"address":"0x08018b24","name":"statusCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08018b18","name":"statusCommandDefinition.pcCommand","type":5},{"address":"0x08018b1c","name":"statusCommandDefinition.pcHelpString","type":5},{"address":"0x08018b20","name":"statusCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019f7c","name":"stopCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019f70","name":"stopCommandDefinition.pcCommand","type":5},{"address":"0x08019f74","name":"stopCommandDefinition.pcHelpString","type":5},{"address":"0x08019f78","name":"stopCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x0801a0e4","name":"streamCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a0d8","name":"streamCommandDefinition.pcCommand","type":5},{"address":"0x0801a0dc","name":"streamCommandDefinition.pcHelpString","type":5},{"address":"0x0801a0e0","name":"streamCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200012a4","name":"streamDMA[0].ErrorCode","type":5},{"address":"0x20001274","name":"streamDMA[0].Init.Direction","type":5},{"address":"0x20001284","name":"streamDMA[0].Init.MemDataAlignment","type":5},{"address":"0x2000127c","name":"streamDMA[0].Init.MemInc","type":5},{"address":"0x20001288","name":"streamDMA[0].Init.Mode","type":5},{"address":"0x20001280","name":"streamDMA[0].Init.PeriphDataAlignment","type":5},{"address":"0x20001278","name":"streamDMA[0].Init.PeriphInc","type":5},{"address":"0x2000128c","name":"streamDMA[0].Init.Priority","type":5},{"address":"0x20001270","name":"streamDMA[0].Instance","type":5},{"address":"0x20001290","name":"streamDMA[0].Lock","type":2},{"address":"0x20001294","name":"streamDMA[0].Parent","type":5},{"address":"0x20001291","name":"streamDMA[0].State","type":2},{"address":"0x20001298","name":"streamDMA[0].XferCpltCallback","type":5},{"address":"0x200012a0","name":"streamDMA[0].XferErrorCallback","type":5},{"address":"0x2000129c","name":"streamDMA[0].XferHalfCpltCallback","type":5},{"address":"0x200000ac","name":"SystemCoreClock","type":5},{"address":"0x08019ad8","name":"testportCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019acc","name":"testportCommandDefinition.pcCommand","type":5},{"address":"0x08019ad0","name":"testportCommandDefinition.pcHelpString","type":5},{"address":"0x08019ad4","name":"testportCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x08019b44","name":"timeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019b38","name":"timeCommandDefinition.pcCommand","type":5},{"address":"0x08019b3c","name":"timeCommandDefinition.pcHelpString","type":5},{"address":"0x08019b40","name":"timeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x2000105e","name":"timedoutMsg","type":3},{"address":"0x200064d8","name":"tmp_adc","type":5},{"address":"0x20001060","name":"totalnumberofrecevedmesg","type":5},{"address":"0x2000633d","name":"twoDMatrixIndex","type":1},{"address":"0x20000c8c","name":"UARTRxBufIndex[0]","type":1},{"address":"0x2000179c","name":"ucHeap[0]","type":1},{"address":"0x20000de8","name":"ulClocksPer10thOfAMilliSecond","type":5},{"address":"0x200016d0","name":"ulTaskSwitchedInTime","type":5},{"address":"0x00000000","name":"ulTotalRunTime","type":5},{"address":"0x08019b90","name":"unbridgeCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019b84","name":"unbridgeCommandDefinition.pcCommand","type":5},{"address":"0x08019b88","name":"unbridgeCommandDefinition.pcHelpString","type":5},{"address":"0x08019b8c","name":"unbridgeCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200000a8","name":"unit","type":1},{"address":"0x0801a134","name":"unitCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x0801a128","name":"unitCommandDefinition.pcCommand","type":5},{"address":"0x0801a12c","name":"unitCommandDefinition.pcHelpString","type":5},{"address":"0x0801a130","name":"unitCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x20000d14","name":"UserTaskHandle","type":5},{"address":"0x08019bb8","name":"uuidCommandDefinition.cExpectedNumberOfParameters","type":2},{"address":"0x08019bac","name":"uuidCommandDefinition.pcCommand","type":5},{"address":"0x08019bb0","name":"uuidCommandDefinition.pcHelpString","type":5},{"address":"0x08019bb4","name":"uuidCommandDefinition.pxCommandInterpreter","type":5},{"address":"0x200061e8","name":"uwTick","type":5},{"address":"0x200000c0","name":"uxCriticalNesting","type":5},{"address":"0x200016d4","name":"uxCurrentNumberOfTasks","type":5},{"address":"0x200016d8","name":"uxPendedTicks","type":5},{"address":"0x200016dc","name":"uxSchedulerSuspended","type":5},{"address":"0x200016e0","name":"uxTaskNumber","type":5},{"address":"0x200016e4","name":"uxTasksDeleted","type":5},{"address":"0x200016e8","name":"uxTopReadyPriority","type":5},{"address":"0x200067a0","name":"volt","type":9},{"address":"0x200064dc","name":"volt_buffer","type":9},{"address":"0x20001068","name":"VoltAmpHandle","type":5},{"address":"0x08017870","name":"weekdayString[0]","type":5},{"address":"0x2000176c","name":"xActiveTimerList1.pxIndex","type":5},{"address":"0x20001768","name":"xActiveTimerList1.uxNumberOfItems","type":5},{"address":"0x20001774","name":"xActiveTimerList1.xListEnd.pxNext","type":5},{"address":"0x20001778","name":"xActiveTimerList1.xListEnd.pxPrevious","type":5},{"address":"0x20001770","name":"xActiveTimerList1.xListEnd.xItemValue","type":5},{"address":"0x20001780","name":"xActiveTimerList2.pxIndex","type":5},{"address":"0x2000177c","name":"xActiveTimerList2.uxNumberOfItems","type":5},{"address":"0x20001788","name":"xActiveTimerList2.xListEnd.pxNext","type":5},{"address":"0x2000178c","name":"xActiveTimerList2.xListEnd.pxPrevious","type":5},{"address":"0x20001784","name":"xActiveTimerList2.xListEnd.xItemValue","type":5},{"address":"0x200061d4","name":"xBlockAllocatedBit","type":5},{"address":"0x20000dec","name":"xCommandConsoleTaskHandle","type":5},{"address":"0x200016f0","name":"xDelayedTaskList1.pxIndex","type":5},{"address":"0x200016ec","name":"xDelayedTaskList1.uxNumberOfItems","type":5},{"address":"0x200016f8","name":"xDelayedTaskList1.xListEnd.pxNext","type":5},{"address":"0x200016fc","name":"xDelayedTaskList1.xListEnd.pxPrevious","type":5},{"address":"0x200016f4","name":"xDelayedTaskList1.xListEnd.xItemValue","type":5},{"address":"0x20001704","name":"xDelayedTaskList2.pxIndex","type":5},{"address":"0x20001700","name":"xDelayedTaskList2.uxNumberOfItems","type":5},{"address":"0x2000170c","name":"xDelayedTaskList2.xListEnd.pxNext","type":5},{"address":"0x20001710","name":"xDelayedTaskList2.xListEnd.pxPrevious","type":5},{"address":"0x20001708","name":"xDelayedTaskList2.xListEnd.xItemValue","type":5},{"address":"0x200061d8","name":"xFreeBytesRemaining","type":5},{"address":"0x00000000","name":"xHeapStructSize","type":5},{"address":"0x0801a27c","name":"xHelpCommand.cExpectedNumberOfParameters","type":2},{"address":"0x0801a270","name":"xHelpCommand.pcCommand","type":5},{"address":"0x0801a274","name":"xHelpCommand.pcHelpString","type":5},{"address":"0x0801a278","name":"xHelpCommand.pxCommandInterpreter","type":5},{"address":"0x200061dc","name":"xMinimumEverFreeBytesRemaining","type":5},{"address":"0x200000bc","name":"xNextTaskUnblockTime","type":5},{"address":"0x20001714","name":"xNumOfOverflows","type":6},{"address":"0x2000171c","name":"xPendingReadyList.pxIndex","type":5},{"address":"0x20001718","name":"xPendingReadyList.uxNumberOfItems","type":5},{"address":"0x20001724","name":"xPendingReadyList.xListEnd.pxNext","type":5},{"address":"0x20001728","name":"xPendingReadyList.xListEnd.pxPrevious","type":5},{"address":"0x20001720","name":"xPendingReadyList.xListEnd.xItemValue","type":5},{"address":"0x20006740","name":"xQueueRegistry[0].pcQueueName","type":5},{"address":"0x20006744","name":"xQueueRegistry[0].xHandle","type":5},{"address":"0x200000b4","name":"xRegisteredCommands.pxCommandLineDefinition","type":5},{"address":"0x200000b8","name":"xRegisteredCommands.pxNext","type":5},{"address":"0x2000172c","name":"xSchedulerRunning","type":6},{"address":"0x200061e0","name":"xStart.pxNextFreeBlock","type":5},{"address":"0x200061e4","name":"xStart.xBlockSize","type":5},{"address":"0x20001734","name":"xSuspendedTaskList.pxIndex","type":5},{"address":"0x20001730","name":"xSuspendedTaskList.uxNumberOfItems","type":5},{"address":"0x2000173c","name":"xSuspendedTaskList.xListEnd.pxNext","type":5},{"address":"0x20001740","name":"xSuspendedTaskList.xListEnd.pxPrevious","type":5},{"address":"0x20001738","name":"xSuspendedTaskList.xListEnd.xItemValue","type":5},{"address":"0x20001748","name":"xTasksWaitingTermination.pxIndex","type":5},{"address":"0x20001744","name":"xTasksWaitingTermination.uxNumberOfItems","type":5},{"address":"0x20001750","name":"xTasksWaitingTermination.xListEnd.pxNext","type":5},{"address":"0x20001754","name":"xTasksWaitingTermination.xListEnd.pxPrevious","type":5},{"address":"0x2000174c","name":"xTasksWaitingTermination.xListEnd.xItemValue","type":5},{"address":"0x20001758","name":"xTickCount","type":5},{"address":"0x20001074","name":"xTimer","type":5},{"address":"0x20001794","name":"xTimerQueue","type":5},{"address":"0x2000175c","name":"xYieldPending","type":6}],"expand":false,"filename":"H2AR3x.elf","exeModifiedTime":1640634678781,"configLastUpdate":1640719055926},{"id":"e8e5f7df.db9028","type":"ui_tab","z":"","name":"AC Current and Voltage Sensor","icon":"dashboard","disabled":false,"hidden":false}]